* {
  font-size: 13px;
  color: white;
  border: none;
  border-radius: 0;
  min-height: 0;
}
window#waybar { background: rgba(0,0,0,0);}
#workspaces { margin: 5px 10px 0px 10px;}
#workspaces button {
  padding: 5px 5px;
  background: rgba(128,128,128,0.7);
  margin-right: 5px;
  border-radius: 25px;
}
#workspaces button.focused { background-color: rgba(128,0,128,0.8); }
#tray,
#custom-china,
#temperature,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio { margin: 5px 10px 0px 0px;}
#temperature.critical { color: red; }
#battery icon { color: red; }
#network.disconnected { background: #f53c3c; }
@keyframes blink { to { background-color: #ffffff; color: black; } }
#battery.warning:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
