XTerm.vt100.bellIsUrgent : false
!bell禁止
XTerm.vt100.saveLines: 4096

XTerm.vt100.fastScroll: true

XTerm.vt100.alternateScroll: true

XTerm.vt100.jumpScroll: true

XTerm*locale: true

XTerm*utf8Title: true

XTerm*fontMenu*fontdefault*Label: Default

XTerm*faceName: JetBrains Mono:style=Bold:pixelsize=15
xterm*faceNameDoublesize::antialias=True:pixelsize=14

XTerm*inputMethod: fcitx

XTerm*faceSize: 15

XTerm*faceSize1: 15

XTerm*faceSize2: 15

XTerm*faceSize3: 15

XTerm*faceSize4: 15

XTerm*faceSize5: 15

XTerm*faceSize6: 15

XTerm.cjkWidth:true

XTerm*scrollBar: false

XTerm*rightScrollBar: false

XTerm*jumpScroll:  false

XTerm*SaveLines: 10000

xterm*VT100*geometry:106x19

xterm*VT100*scaleHeight:1.00

XTerm*VT100.Translations: #override \n\
		Ctrl + Shift <KeyPress> V: insert-selection(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\
		<BtnUp>: select-end(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n


! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6
