* {
  border: none;
  border-radius: 0;
  /*font-family: "Ubuntu Nerd Font";*/
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
  border-radius: 15px;
  /*border: 1px solid gray;*/
}

#window {
  /*font-family: "Ubuntu";*/
  margin-top: 5px;
}


#workspaces {
    padding: 0 5px;
}

#workspaces button {
  padding: 5px;
  background: gray;
  border-radius: 35px;
  color: white;
  margin-right: 5px;
}

#workspaces button.focused {
  background-color: purple;
}

#tray,
#custom-china,
#temperature,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio {
  padding: 0 5px;
  margin-right: 5px;
  margin-top: 5px;
}

#temperature.critical {
  color: red;
}

#battery icon {
  color: red;
}

#battery.charging {
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background: #f53c3c;
}
